.about-us {
  height: 100% !important;

  h1 {
    font-size: 25px;
    line-height: 40px;
  }

  p {
    font-size: 15px;
    line-height: 30px;
  }

  

  .first-slide--img {
    // margin: 180px 0 30px;
    width: 350px;
    margin-bottom: 20px;
  }

  .second-slide--img {
    width: 350px;
    margin-bottom: 20px;
  }

  .first-slide--arrow,
  .second-slide--arrow {
    position: absolute;
    // top: 5px;
    width: 30px;
    height: 50px;
  }

  .first-slide--arrow {
    left: 30%;
  }

  .second-slide--arrow {
    right: 30%;
  }


  .light-dot,
  .dark-dot {
    width: 10px;
    height: 10px;
  }

  .go-northill-btn {
    border-radius: 23px;
    background-color: $green;
    font-weight: 700;
    border: none;

    a {
      color: $white;
      border: none;
      text-decoration: none;
    }
  }

  .slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes slideInRight {
    0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      visibility: visible;
    }

    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

  @keyframes slideInRight {
    0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      visibility: visible;
    }

    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
}