.sidebar {
    width: 250px;
    height: 100vh;
    position: relative;
    top: 0;
    left: -255px;
    z-index: 998;
    background: $navy-blue;
    color: $white;
    font-family: $montserrat !important;
    font-size: 20px;
    font-weight: 700;
    transition: all .3s;
    text-align: left;

    line-height: 20px;
}

.sidebar.active {
    left: 0;
}

.content {
    width: 10%;
    transition: all 0.3s;

    display: flex;
    flex-direction: column;

    &:hover {
        text-decoration: none;
    }
}

.open-menu {
    position: relative;
    bottom: 95vh;
    left: 10px;
    z-index: 997;
}

.nav__content-hamburger-signature {
    display: block;
    line-height: 0;
    font-family: $montserrat !important;
    font-size: 15px;
}


a.btn-customized {
    margin-left: 5%;
    color: $navy-blue;
    box-shadow: none;

    &:hover {
        text-decoration: none;
    }
}

.dismiss {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    transition: all .3s;
    text-align: center;
    cursor: pointer;
}

.sidebar .hide-sidebar-btn {
    padding: 40px 20px;
}

.sidebar ul li a,
.sidebar ul li span {
    display: block;
    padding: 10px 20px;
    border: 0;
    color: #fff;
    cursor: pointer;
    margin-left: 10%;
}

.sidebar ul li a:hover {
    text-decoration: none;
}

.nav-collapse__first-level {
    display: block;
    list-style-type: none;
    margin-left: 5%;
    text-indent: 5%;
    line-height: 30px;

    li {
        font-weight: 500;
    }
}

.nav-collapse__second-level {
    display: block;
    list-style-type: none;
    li {
        font-weight: 500;
        line-height: 30px;
    }
}

.collapse-inactive {
    display: none;
}

.nav__footer {
    // margin-left: 2%;
    position: absolute;
    bottom: 50px;
    left: 15%;

    span {
        font-size: 10px;
    }
}