header {
  height: 100%;

  //background-image: url("../assets/images/svg/Ilustracje_v3.1_Desktop.svg");
  //background-repeat: no-repeat;
  //background-size: cover;

  svg {
    z-index: -1;
  }

  .open-nav {
    position: fixed;
    bottom: 85vh;
    left: 30px;
    width: 50px;

    cursor: pointer;

    .open-nav-icon {
      color: $dark;
    }
  }
}

nav {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 998;
  background: $navy-blue;
  color: $white;
  font-family: $montserrat !important;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.3s;
  text-align: left;

  line-height: 20px;

  * div {
    cursor: pointer;
  }

  .close-nav {
    font-size: 30px;
    font-weight: normal;
    position: relative;
    right: 20%;
  cursor: pointer;
}
}

//.sidebar {
//  width: 250px;
//  height: 100vh;
//  position: fixed;
//  top: 0;
//  left: -255px;
//  z-index: 998;
//  background: $navy-blue;
//  color: $white;
//  font-family: $montserrat !important;
//  font-size: 20px;
//  font-weight: 700;
//  transition: all 0.3s;
//  text-align: left;
//
//  line-height: 20px;
//}

.sidebar.active {
  left: 0;
}

.content {
  width: 10%;
  transition: all 0.3s;

  display: flex;
  flex-direction: column;

  &:hover {
    text-decoration: none;
  }
}

.open-menu {
  position: fixed;
  top:  3%;
  left: -2%;
  z-index: 999;
}

.nav__content-hamburger-signature {
  z-index: 999;
  display: block;
  line-height: 0;
  font-family: $montserrat !important;
  font-size: 15px;
  color: $dark !important;
}

a.btn-customized {
  margin-left: 5%;
  color: $navy-blue;
  box-shadow: none;

  &:hover {
    text-decoration: none;
  }
}

.dismiss {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  transition: all 0.3s;
  text-align: center;
  cursor: pointer;
}

.sidebar .hide-sidebar-btn {
  padding: 40px 20px;
}

.sidebar ul li a,
.sidebar ul li span {
  display: block;
  padding: 10px 20px;
  border: 0;
  color: #fff;
  cursor: pointer;
  margin-left: 10%;
}

.sidebar ul li a:hover {
  text-decoration: none;
}

.nav-collapse__first-level {
  display: block;
  list-style-type: none;
  margin-left: 5%;
  text-indent: 5%;
  line-height: 30px;

  li {
    font-weight: 500;
  }
}

.nav-collapse__second-level {
  display: block;
  list-style-type: none;
  li {
    font-weight: 500;
    line-height: 30px;
  }
}

.collapse-inactive {
  display: none;
}

.rotate-180-start {
  -webkit-animation: rotate-180-start 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: rotate-180-start 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes rotate-180-start {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes rotate-180-start {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.rotate-180-back {
  -webkit-animation: rotate-180-back 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: rotate-180-back 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes rotate-180-back {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes rotate-180-back {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}


  .nav-footer-branding {
    width: 150px;
    height: 100px;
    background: url("../assets/images/nav-footer-branding.png");
    background-size: contain;
    margin-bottom: 40px;
  }
