@import 'bootstrap/dist/css/bootstrap.min.css';

@import 'typography';

@import 'header';
@import 'aboutus';
@import 'packages';

body {
    line-height: 40px;
    color: $dark;

    p {
        font-family: $montserrat !important;
        font-size: 20px;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: $fraunces !important;
    }
}

section {
    height: 100vh;
}

header {
    height: 100vh;

    background-image: url('https://placekitten.com/g/800/600');
    background-repeat: no-repeat;
    background-size: cover;
}