@import url(bootstrap/dist/css/bootstrap.min.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700&display=swap");
.sidebar {
  width: 250px;
  height: 100vh;
  position: relative;
  top: 0;
  left: -255px;
  z-index: 998;
  background: #001819;
  color: #FFFCFB;
  font-family: Montserrat, sans-serif !important;
  font-size: 20px;
  font-weight: 700;
  transition: all .3s;
  text-align: left;
  line-height: 20px;
}

.sidebar.active {
  left: 0;
}

.content {
  width: 10%;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
}
.content:hover {
  text-decoration: none;
}

.open-menu {
  position: relative;
  bottom: 95vh;
  left: 10px;
  z-index: 997;
}

.nav__content-hamburger-signature {
  display: block;
  line-height: 0;
  font-family: Montserrat, sans-serif !important;
  font-size: 15px;
}

a.btn-customized {
  margin-left: 5%;
  color: #001819;
  box-shadow: none;
}
a.btn-customized:hover {
  text-decoration: none;
}

.dismiss {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  transition: all .3s;
  text-align: center;
  cursor: pointer;
}

.sidebar .hide-sidebar-btn {
  padding: 40px 20px;
}

.sidebar ul li a,
.sidebar ul li span {
  display: block;
  padding: 10px 20px;
  border: 0;
  color: #fff;
  cursor: pointer;
  margin-left: 10%;
}

.sidebar ul li a:hover {
  text-decoration: none;
}

.nav-collapse__first-level {
  display: block;
  list-style-type: none;
  margin-left: 5%;
  text-indent: 5%;
  line-height: 30px;
}
.nav-collapse__first-level li {
  font-weight: 500;
}

.nav-collapse__second-level {
  display: block;
  list-style-type: none;
}
.nav-collapse__second-level li {
  font-weight: 500;
  line-height: 30px;
}

.collapse-inactive {
  display: none;
}

.nav__footer {
  position: absolute;
  bottom: 50px;
  left: 15%;
}
.nav__footer .nav-footer-branding {
  width: 150px;
  height: 100px;
  background: url("../assets/images/nav-footer-branding.png");
  background-size: cover;
}

.about-us .first-slide--arrow,
.about-us .second-slide--arrow {
  width: 50px;
  height: 70px;
}
.about-us .go-northill-btn {
  border-radius: 23px;
  background-color: #006466;
  font-weight: 700;
  border: none;
}
.about-us .go-northill-btn a {
  color: #FFFCFB;
  border: none;
  text-decoration: none;
}

.sea-standard-package {
  background: #FAEBDC;
}
.sea-standard-package .sea-standard-package__heading {
  color: #006466;
  padding-left: 15%;
}
.sea-standard-package .sea-standard-package__heading h1 {
  font-size: 90px;
}
.sea-standard-package .sea-standard-package__heading h3 {
  font-size: 30px;
  font-family: Montserrat, sans-serif;
}
.sea-standard-package .see-more-btn,
.sea-standard-package .book-now-btn {
  width: 218px;
  height: 45px;
  border-radius: 23px;
  background-color: #006466;
  font-weight: 700;
  border: none;
}
.sea-standard-package .see-more-btn a,
.sea-standard-package .book-now-btn a {
  color: #FFFCFB;
  border: none;
  text-decoration: none;
}
.sea-standard-package .sea-content__hidden--list {
  padding-left: 4% !important;
}
.sea-standard-package .booking-info p {
  font-size: 10px;
  line-height: 25px;
}
.sea-standard-package .book-now-btn {
  background-color: #FF8864;
  justify-self: flex-end;
}

.sky-premium-package {
  background: #FFFCFB;
}
.sky-premium-package .sky-premium-package__heading {
  color: #006466;
  padding-left: 15%;
}
.sky-premium-package .sky-premium-package__heading h1 {
  font-size: 90px;
}
.sky-premium-package .sky-premium-package__heading h3 {
  font-size: 30px;
  font-family: Montserrat, sans-serif;
}
.sky-premium-package .see-more-btn,
.sky-premium-package .book-now-btn {
  width: 218px;
  height: 45px;
  align-self: flex-end;
  border-radius: 23px;
  background-color: #006466;
  font-weight: 700;
  border: none;
}
.sky-premium-package .see-more-btn a,
.sky-premium-package .book-now-btn a {
  color: #FFFCFB;
  border: none;
  text-decoration: none;
}
.sky-premium-package .sea-content__hidden--list {
  padding-left: 4% !important;
}
.sky-premium-package .booking-info p {
  font-size: 10px;
  line-height: 25px;
}
.sky-premium-package .book-now-btn {
  background-color: #FF8864;
  justify-self: flex-end;
}

.earth-eco-package {
  background: #006466;
  color: #FFFCFB;
}
.earth-eco-package .package-card {
  background-color: #FAEBDC;
}
.earth-eco-package .package-card h1,
.earth-eco-package .package-card span {
  font-family: Fraunces, sans-serif;
  color: #006466;
  font-weight: 700;
}
.earth-eco-package .package-card span {
  font-size: 30px;
}
.earth-eco-package .package-card h2 {
  color: #006466;
  font-weight: 700;
  font-size: 15px;
}
.earth-eco-package .package-card h1 {
  font-size: 70px;
}
.earth-eco-package .package-card p {
  font-size: 13px;
  padding-bottom: 10px;
  color: #0D3236;
  line-height: 30px;
}
.earth-eco-package .see-more-btn,
.earth-eco-package .book-now-btn,
.earth-eco-package .earth__see-more-btn {
  width: 218px;
  height: 45px;
  align-self: flex-end;
  border-radius: 23px;
  background-color: #006466;
  font-weight: 700;
  border: none;
}
.earth-eco-package .see-more-btn a,
.earth-eco-package .book-now-btn a,
.earth-eco-package .earth__see-more-btn a {
  color: #FFFCFB;
  border: none;
  text-decoration: none;
}
.earth-eco-package .earth__see-more-btn {
  background: #FFFCFB;
  color: #006466;
}
.earth-eco-package .book-now-btn {
  background-color: #FF8864;
}

.one-off-package {
  background: #fff;
  height: 100%;
  min-height: 120vh;
  margin-top: 5%;
}
.one-off-package .one-off-package__header h1 {
  font-family: Fraunces, sans-serif;
  font-size: 60px;
  font-weight: 700;
}
.one-off-package .carousel-book-now-div .book-now-btn {
  width: 218px;
  height: 45px;
  background-color: #FF8864;
  border: none;
  border-radius: 23px;
}

.my-carousel-item {
  margin: 5% auto;
  background-color: #fffcfb;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(116, 104, 104, 0.75);
  -moz-box-shadow: 0px 3px 6px 0px rgba(116, 104, 104, 0.75);
  box-shadow: 0px 3px 6px 0px rgba(116, 104, 104, 0.75);
}
.my-carousel-item p {
  font-size: 25;
  font-weight: 700;
  color: #006466;
}

.commercial-and-public-section {
  background: #FAEBDC;
  height: 100%;
  min-height: 120vh;
}
.commercial-and-public-section div {
  width: 90%;
}
.commercial-and-public-section .commercial-and-public__heading {
  color: #006466;
}
.commercial-and-public-section .commercial-and-public__heading h1 {
  font-size: 60px;
  font-weight: 700;
}
.commercial-and-public-section .commercial-and-public__heading h3 {
  font-size: 30px;
  font-family: Montserrat, sans-serif;
}
.commercial-and-public-section .see-more-btn,
.commercial-and-public-section .book-now-btn {
  width: 218px;
  height: 45px;
  align-self: flex-end;
  border-radius: 23px;
  background-color: #006466;
  font-weight: 700;
  border: none;
}
.commercial-and-public-section .see-more-btn a,
.commercial-and-public-section .book-now-btn a {
  color: #FFFCFB;
  border: none;
  text-decoration: none;
}
.commercial-and-public-section .sea-content__hidden--list {
  padding-left: 4% !important;
}
.commercial-and-public-section .booking-info p {
  font-size: 10px;
  line-height: 25px;
}
.commercial-and-public-section .book-now-btn {
  background-color: #FF8864;
  justify-self: flex-end;
}

body {
  line-height: 40px;
  color: #0D3236;
}
body p,
body ul,
body li {
  font-family: Montserrat, sans-serif !important;
  font-size: 20px;
}
body h1,
body h2,
body h3,
body h4,
body h5 {
  font-family: Fraunces, sans-serif !important;
}
body h1 {
  font-weight: 700;
}

section {
  min-height: 110vh;
  padding-left: 10%;
  padding-right: 10%;
}

header {
  height: 100vh;
  background-image: url("../assets/images/header_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/*# sourceMappingURL=main.css.map */
