@import url(bootstrap/dist/css/bootstrap.min.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@400;700&display=swap");
.sidebar {
  width: 250px;
  height: 100vh;
  position: relative;
  top: 0;
  left: -255px;
  z-index: 998;
  background: #001819;
  color: #FFFCFB;
  font-family: Montserrat, sans-serif !important;
  font-size: 20px;
  font-weight: 700;
  transition: all .3s;
  text-align: left;
  line-height: 20px;
}

.sidebar.active {
  left: 0;
}

.content {
  width: 10%;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
}
.content:hover {
  text-decoration: none;
}

.open-menu {
  position: relative;
  bottom: 95vh;
  left: 10px;
  z-index: 997;
}

.nav__content-hamburger-signature {
  display: block;
  line-height: 0;
  font-family: Montserrat, sans-serif !important;
  font-size: 15px;
}

a.btn-customized {
  margin-left: 5%;
  color: #001819;
  box-shadow: none;
}
a.btn-customized:hover {
  text-decoration: none;
}

.dismiss {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  transition: all .3s;
  text-align: center;
  cursor: pointer;
}

.sidebar .hide-sidebar-btn {
  padding: 40px 20px;
}

.sidebar ul li a,
.sidebar ul li span {
  display: block;
  padding: 10px 20px;
  border: 0;
  color: #fff;
  cursor: pointer;
  margin-left: 10%;
}

.sidebar ul li a:hover {
  text-decoration: none;
}

.nav-collapse__first-level {
  display: block;
  list-style-type: none;
  margin-left: 5%;
  text-indent: 5%;
  line-height: 30px;
}
.nav-collapse__first-level li {
  font-weight: 500;
}

.nav-collapse__second-level {
  display: block;
  list-style-type: none;
}
.nav-collapse__second-level li {
  font-weight: 500;
  line-height: 30px;
}

.collapse-inactive {
  display: none;
}

.nav__footer {
  position: absolute;
  bottom: 50px;
  left: 15%;
}
.nav__footer .nav-footer-branding {
  width: 150px;
  height: 100px;
  background: url("../assets/images/nav-footer-branding.png");
  background-size: cover;
}

.about-us__first-slide {
  display: grid;
  grid-template-columns: 30% 50% auto;
  grid-template-rows: 100vh;
  justify-items: center;
  align-items: center;
}
.about-us__first-slide .first-slide--content {
  justify-self: start;
}
.about-us__first-slide .first-slide--content h1 {
  font-size: 60px;
  color: #006466;
}
.about-us__first-slide .first-slide--arrow {
  width: 50px;
  height: 70px;
}

.about-us__second-slide {
  display: grid;
  grid-template-columns: auto 50% 30%;
  grid-template-rows: 100vh;
  justify-items: center;
  align-items: center;
}
.about-us__second-slide .second-slide--content {
  justify-self: start;
  display: flex;
  flex-direction: column;
}
.about-us__second-slide .second-slide--content h1 {
  font-size: 60px;
  color: #006466;
}
.about-us__second-slide .second-slide--content .go-northill-btn {
  align-self: flex-end;
  border-radius: 23px;
  background-color: #006466;
  font-weight: 700;
  border: none;
}
.about-us__second-slide .second-slide--content .go-northill-btn a {
  color: #FFFCFB;
  border: none;
  text-decoration: none;
}
.about-us__second-slide .second-slide--arrow {
  width: 50px;
  height: 70px;
  transform: scaleX(-1);
}

.slide-inactive {
  display: none;
}

.sea-standard-package {
  background: #FAEBDC;
  height: 100%;
  min-height: 120vh;
}
.sea-standard-package div {
  width: 90%;
}
.sea-standard-package .sea-standard-package__heading {
  color: #006466;
  padding-left: 15%;
}
.sea-standard-package .sea-standard-package__heading h1 {
  font-size: 90px;
}
.sea-standard-package .sea-standard-package__heading h3 {
  font-size: 30px;
  font-family: Montserrat, sans-serif;
}
.sea-standard-package .see-more-btn,
.sea-standard-package .book-now-btn {
  width: 218px;
  height: 45px;
  align-self: flex-end;
  border-radius: 23px;
  background-color: #006466;
  font-weight: 700;
  border: none;
}
.sea-standard-package .see-more-btn a,
.sea-standard-package .book-now-btn a {
  color: #FFFCFB;
  border: none;
  text-decoration: none;
}
.sea-standard-package .sea-content__hidden--list {
  padding-left: 4% !important;
}
.sea-standard-package .booking-info p {
  font-size: 10px;
  line-height: 25px;
}
.sea-standard-package .book-now-btn {
  background-color: #FF8864;
  justify-self: flex-end;
}

body {
  line-height: 40px;
  color: #0D3236;
}
body p,
body ul,
body li {
  font-family: Montserrat, sans-serif !important;
  font-size: 20px;
}
body h1,
body h2,
body h3,
body h4,
body h5 {
  font-family: Fraunces, sans-serif !important;
}

section {
  height: 120vh;
}

header {
  height: 100vh;
  background-image: url("../assets/images/header_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/*# sourceMappingURL=main.css.map */
