@import "bootstrap/dist/css/bootstrap.min.css";

@import "typography";

@import "header";
@import "aboutus";
@import "packages";
@import "form";
@import "footer";

@import "rwd";

body {
  line-height: 40px;
  color: $dark;

  input[type="date"]:invalid::-webkit-datetime-edit {
    color: #757575 !important;
  }

  p,
  ul,
  li {
    font-family: $montserrat !important;
    font-size: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $fraunces !important;
  }

  h1 {
    font-weight: $fw-bold;
  }

  ul {
    list-style-type: none !important;
    padding-left: 0;
  }

  button {
    font-size: 17px !important;
    font-family: $montserrat !important;
  }

  .date-p {
    font-size: 15px !important;
  }

  .about-us {
    h1 {
      color: $green;
    }
  }
}

section {
  padding-left: 10%;
  padding-right: 10%;
}

.green-button {
  background: $green;
  font-size: 15px;
  line-height: 35px;
  color: white;
  font-family: $montserrat !important;
  width: 218px;
  height: 45px;
  border-radius: 23px;
  font-weight: 700;
  border: none;
}

.orange-button {
  background: $orange !important;
}

.nh-btn-link {
  width: 378px !important;
  font-size: 20px !important;
  font-weight: bold;
}


li {
    list-style-type: none !important;
}

.my-carousel-item {
  height: 250px !important;
}

.magic-dots.slick-dots li button:before {
  color: $green !important;
}

.slick-slider {
  position: relative;
}

.slick-prev {
  top: 105%;
  left: 15%;
  width: 30px;
  height: 50px;
}

.slick-next {
  top: 105%;
  right: 15%;
  width: 30px;
  height: 50px;
}

.fill-me {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: -1;
}

.slider-text {
  margin-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
  font-family: $montserrat !important;
  font-size: 15px !important;
  line-height: 15px !important;
  font-weight: 400 !important;
  color: $dark !important;
  text-align: left;
}

.japanese-div {
  .japanese-title {
    line-height: 25px !important;
  }
  p {
    line-height: 15px !important;
    margin-top: 5px;
  }

  .japanese-slider-img {
    width: 150px !important;
    height: 150px !important;
  }
}

.eco-exact-span{
  position: relative;
  top: 570px;
}