.book-now-up {
  position: relative;
  // bottom: 40px;
}

.packages__bar {
  width: 100%;
  height: 200px;

  background-color: $green;
  color: $white;

  .arrow-down {
    width: 50px;
    height: 70px;
  }
}

.sea-list,
.sky-list {
  ul li {
    background: url('../assets/images/kropka-zielona.svg')
      no-repeat top left;
      background-size: 20px;
    background-position: 0 8px;
    line-height: 1.5625;
    padding: 0 0 4px 30px;
    margin-left: 5px;
    font-size: 15px;
    line-height: 30px;
  }
}

.sea-standard-package {
  background: $creme;

  color: $green;
  // padding-left: 15%;

  .sea-img {
    width: 350px;
    margin-bottom: 20px;
  }

  .sky-img {
    width: 350px;
    margin-bottom: 20px;
  }

  .earth-img {
    width: 350px;
    margin-bottom: 20px;
  }

  .one-off-img {
    width: 350px;
    margin-bottom: 20px;
  }

  .commercial-img {
    width: 350px;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 35px;
    line-height: 40px;
  }

  h3 {
    font-size: 20px;
    font-family: $montserrat !important;
    line-height: 24px;
  }

  p {
    font-size: 15px;
    line-height: 30px;
    color: $dark;
  }

  ul li {
    color: $dark;
  }

  .sea-img {
    //
  }

  .see-more-btn,
  .book-now-btn {
    width: 218px;
    height: 45px;
    border-radius: 23px;
    background-color: $green;
    font-weight: 700;
    border: none;

    a {
      color: $white;
      border: none;
      text-decoration: none;
    }
  }

  .booking-info {
    p {
      font-size: 10px;
      line-height: 25px;
    }
  }

  .book-now-btn {
    background-color: $orange;
    justify-self: flex-end;
  }
}

.sky-premium-package {
  background: $white;

  color: $green;
  padding-left: 15%;

  h1 {
    font-size: 35px;
    line-height: 40px;
  }

  h3 {
    font-size: 20px;
    line-height: 24px;
    font-family: $montserrat !important;
  }

  p {
    font-size: 15px;
    line-height: 30px;
  }

  .see-more-btn,
  .book-now-btn {
    width: 218px;
    height: 45px;
    align-self: flex-end;
    border-radius: 23px;
    background-color: $green;
    font-weight: 700;
    border: none;

    a {
      color: $white;
      border: none;
      text-decoration: none;
    }
  }

  .sea-content__hidden--list {
    padding-left: 4% !important;
  }

  .booking-info {
    p {
      font-size: 10px;
      line-height: 25px;
    }
  }

  .book-now-btn {
    background-color: $orange;
    justify-self: flex-end;
  }
}

.earth-eco-package {
  height: auto;
  background: $green;
  color: $white;

  h1 {
    font-size: 35px;
    line-height: 40px;
  }

  h3 {
    font-size: 20px;
    font-family: $montserrat !important;
    line-height: 24px;
  }

  p {
    font-size: 15px;
    line-height: 30px;
  }

  .cards-container {
    height: auto;

    .small-card {
      background: $creme;
      color: $dark;
      border-radius: 10px;

      height: 400px;

      .small-card-title {
        color: $green;

        h1 {
          font-family: $fraunces;
          font-size: 70px;
          line-height: 94px;
          font-weight: 800;
        }

        span {
          font-size: 30px;
          line-height: 40px;
          font-weight: bold;
        }
      }

      .small-card-text {
        font-family: $montserrat;
        color: $dark;
        font-size: 13px;
        line-height: 25px;
      }

      .see-more-btn {
        background: $green;
        color: $white;
        font-size: 15px;
        line-height: 35px;
        font-weight: bold;
      }
    }

    .big-card {
      background: $creme;
      color: $dark;
      border-radius: 10px;

      height: auto;

      .big-card-title {
        color: $green;

        h1 {
          font-size: 70px;
          line-height: 94px;
          font-weight: bold;
        }

        span {
          font-family: $fraunces;
          font-size: 30px;
          line-height: 40px;
          font-weight: bold;
        }
      }

      .big-card-body {
        h2 {
          color: $green;
          font-family: $fraunces;
          font-size: 15px;
          line-height: 30px;
        }

        p {
          color: $dark;
          font-family: $montserrat;
          font-size: 13px;
          line-height: 25px;
        }
      }

      .big-card-buttons {
        // position: relative;
        // bottom: 38px;
        // left: 34px;

        .take-me-back-btn {
          background-color: $green !important;
          color: $white;
          width: 218px;
          height: 45px;
        }

        .all-packages-btn {
          width: 218px;
          height: 45px;
          border-radius: 23px;
          background-color: $green;
          color: $creme;
          font-weight: 700;
          border: none;
        }

        .book-now-btn {
          background-color: $orange;
          color: white;
          width: 218px;
          height: 45px;
        }

        //   .eco-book-now {
        //     margin-left: 45px;
        //   }
      }
    }
  }

  .see-more-btn,
  .book-now-btn,
  .earth__see-more-btn {
    width: 218px;
    height: 45px;
    align-self: flex-end;
    border-radius: 23px;
    background-color: $creme;
    color: $green;
    font-weight: 700;
    border: none;

    a {
      color: $white;
      border: none;
      text-decoration: none;
    }
  }

  .earth__see-more-btn {
    background: $creme;
    color: $green;
  }

  .book-now-btn {
    background-color: $orange;
  }
}

.one-off-package {
  height: 100%;
  background: #fff;

  h1 {
    font-family: $fraunces;
    font-size: 35px;
    line-height: 40px;
    font-weight: $fw-bold;
    color: $green;
  }

  p {
    font-size: 15px;
    line-height: 30px;
  }

  .book-now-btn {
    font-weight: bold;
    width: 218px;
    height: 45px;
    background-color: $orange;
    border: none;
    border-radius: 23px;
  }
}

#root
  > div
  > section.d-flex.flex-column.justify-content-center.one-off-package.py-2
  > div
  > div.col-12.order-4
  > div
  > div
  > div.slick-list
  > div
  > div
  > div {
  margin-right: 10px;
  margin-left: 10px;
}

.japanese-div {
  p {
    line-height: 25px !important;
    margin-top: 5px;
  }

  .japanese-slider-img {
    width: 130px !important;
    height: 130px !important;
  }
}

.my-carousel-item {
  margin: 5% auto;
  padding: 20px 0;
  background-color: #fffcfb;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(116, 104, 104, 0.75);
  -moz-box-shadow: 0px 3px 6px 0px rgba(116, 104, 104, 0.75);
  box-shadow: 0px 3px 6px 0px rgba(116, 104, 104, 0.75);

  p {
    font-size: 25px;
    line-height: 35px;
    font-weight: $fw-bold;
    color: $green;
    margin-bottom: 0;
  }
}

.commercial-and-public-section {
  background: $creme;

  color: $green;

  h1 {
    font-weight: $fw-bold;
    font-size: 35px;
    line-height: 40px;
  }

  p {
    font-size: 15px;
    line-height: 30px;
    color: $dark;
  }

  .see-more-btn,
  .book-now-btn {
    width: 218px;
    height: 45px;
    border-radius: 23px;
    background-color: $green;
    font-weight: 700;
    border: none;

    a {
      color: $white;
      border: none;
      text-decoration: none;
    }
  }

  .sea-content__hidden--list {
    padding-left: 4% !important;
  }

  .booking-info {
    p {
      font-size: 10px;
      line-height: 25px;
    }
  }

  .book-now-btn {
    background-color: $orange;
    justify-self: flex-end;
  }
}
