@media (min-width: 767px) {
  // .earth-eco-package {
  //   min-height: 220vh !important;
  // }




  .form__title {
    font-size: 50px !important;
    line-height: 35px !important;
  }

  .personal-data-input {
    width: 75% !important;
  }


  .japanese-div {
    p {
      line-height: 15px !important;
      margin-top: 5px;
    }

    .japanese-title {
      line-height: 25px !important;
    }

    .japanese-slider-img {
      width: 105px !important;
      height: 100px !important;
    }
  }

  .cards-container {
    .small-card {
      .small-card-title {

        h1 {
          font-size: 100px !important;
          line-height: 133px !important;
        }

        span {
          font-size: 30px;
          line-height: 40px;
          font-weight: bold;
        }
      }

      .small-card-text {
        font-size: 17px !important;
        line-height: 30px !important;
      }

      .see-more-btn {
        background: $green;
        color: $white;
        font-size: 15px;
        line-height: 35px;
        font-weight: bold;
      }
    }

    .big-card {
      .big-card-title {
        h1 {
          font-size: 100px !important;
          line-height: 133px !important;
        }
      }

      .big-card-body {
        h2 {
          color: $green !important;
          font-family: $fraunces !important;
          font-size: 20px !important;
          line-height: 30px !important;
        }

        p {
          color: $dark !important;
          font-family: $montserrat !important;
          font-size: 17px !important;
          line-height: 30px !important;
        }

        .p-third-big-card {
          font-size: 15px !important;
          line-height: 15px !important;
        }

        .big-card-buttons {
          position: relative;
          bottom: 50px;

          .book-now-btn {
            background-color: $orange;
            color: white;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  body {
    ul li {
      font-size: 20px !important;
    }
  }

  .book-now-up {
  top: 40px;
}

  .small-text {
  //margin-left: 7%;
  line-height: 20px !important;
}





  .big-card {
    height: 600px !important;

    .buttons-down {
      margin-top: 75px !important;
    }

    .big-card-buttons {
      position: relative !important;
      bottom: 45px !important;
      left: 20px !important;

      .all-packages-btn {
        background-color: $green !important;
        color: white;
        margin-right: 83px !important;
        margin-top: 7px !important;
      }

      .book-now-btn {
        background-color: $orange;
        color: white;
        width: 218px;
        height: 45px;
        margin-left: 0.5% !important;
        margin-bottom: 10px;
      }
    }
  }

  .small-card {
    height: 600px !important;
  }

  .slick-prev {
    left: 40% !important;
  }

  .slick-next {
    right: 40% !important;
  }

  button {
    font-size: 20px !important;
  }

  .second-list {
    margin-left: 2%;
  }

  .dark-dot,
  .light-dot {
    margin-top: 20px;
  }

  .first-slide--arrow {
    left: 44% !important;
    top: 7px;
  }

  .second-slide--arrow {
    right: 44% !important;
    top: 7px;
  }

  .dot-second-slide {
    margin-top: 95px;
  }

  .arrow-second-slide {
    top: 75px !important;
  }

  .about-us {

    h1 {
      font-size: 40px;
      line-height: 60px;
    }

    p {
      font-size: 20px;
      line-height: 35px;
    }

    .second-slide--img {
      width: 100%;
    }
  }

  .sea-standard-package {
    background: $creme;

    color: $green;

    h1 {
      font-size: 40px;
      line-height: 60px;
    }

    h3 {
      font-size: 30px;
      font-family: $montserrat !important;
      line-height: 37px;
    }

    p {
      font-size: 20px;
      line-height: 40px;
    }
  }

  .sky-premium-package {
    background: $white;

    color: $green;

    h1 {
      font-size: 40px;
      line-height: 60px;
    }

    h3 {
      font-size: 30px;
      font-family: $montserrat;
      line-height: 37px;
    }

    p {
      font-size: 20px;
      line-height: 40px;
    }
  }

  // .earth-eco-package {
  //   min-height: 180vh !important;
  // }

  .earth-eco-package {
    h1 {
      font-size: 40px;
      line-height: 60px;
    }

    h3 {
      font-size: 30px;
      font-family: $montserrat;
      line-height: 37px;
    }

    p {
      font-size: 20px;
      line-height: 40px;
    }



    .package-card {
      h1 {
        font-size: 100px;
        line-height: 133px;
      }

      p {
        font-size: 17px;
      }

      h2 {
        font-size: 20px;
      }
    }
  }

  .one-off-package {
    background: #fff;

    h1 {
      font-family: $fraunces;
      font-size: 40px;
      line-height: 60px;
      font-weight: $fw-bold;
    }

    p {
      font-size: 20px;
      line-height: 40px;
    }
  }

  .commercial-and-public-section {
    h1 {
      font-size: 40px;
      line-height: 60px;
    }

    p {
      font-size: 20px;
      line-height: 40px;
    }
  }

  .form__title {
    font-size: 50px;
    line-height: 35px;
  }

  .form__phone-number {
    font-size: 30px !important;
    line-height: 63px !important;
  }

  .form__mail {
    font-size: 30px !important;
    line-height: 63px !important;
  }

  .p-tellUs {
    font-size: 30px !important;
    line-height: 35px !important;
  }

  .form-label {
    font-size: 20px !important;
    line-height: 35px !important;
  }

  .personal-data-input {
    width: 50% !important;
  }

  .form__container {
    p {
      font-size: 25px !important;
      line-height: 25px !important;
    }

    label {
      font-size: 20px !important;
      line-height: 35px !important;
    }
  }

  .my-carousel-item {
    .japanese-slider-img {
      width: 180px !important;
      height: 180px !important;
    }
  }
}
